# Utiliser MySQL

#### Paramétrage de MySQL  

```bash
nano ~/.zshrc
```
```zshrc
export PATH="/usr/local/mysql/bin:$PATH"
```
Rechargement de la configuration
```bash
source ~/.zhrc
```

#### Connection à MySQL

```bash
mysql -u root -p
```

#### Création de base de données

```sql
CREATE DATABASE my_database;
```

#### Listing de toutes les bases de données

```sql
SHOW DATABASES;
```

#### Utilisation de la base de données 

```sql
USE my_database
```

#### Création de la table
```sql
CREATE TABLE utilisateurs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    nom VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    date_inscription DATETIME DEFAULT CURRENT_TIMESTAMP
);
```

```id INT AUTO_INCREMENT PRIMARY KEY```
- ```id``` : C'est le nom de la colonne.
- ```INT``` : Type de données pour un entier. Il stocke des nombres (positifs ou négatifs).
- ```AUTO_INCREMENT``` : MySQL incrémente automatiquement cette valeur à chaque nouvel enregistrement (utile pour un identifiant unique).
- ```PRIMARY KEY``` : Spécifie que cette colonne est la clé primaire, c'est-à-dire une valeur unique pour chaque ligne. Chaque table doit avoir une clé primaire.  


```nom VARCHAR(50) NOT NULL```
- ```nom``` : Nom de la colonne pour stocker les noms des utilisateurs.
- ```VARCHAR(50)``` : Type de données pour du texte d'une longueur variable, avec un maximum de 50 caractères.
- ```NOT NULL``` : Indique que cette colonne ne peut pas être vide (obligatoire).  


```email VARCHAR(100) UNIQUE NOT NULL```
- ```email``` : Colonne pour stocker les adresses e-mail.
- ```VARCHAR(100)``` : Texte avec un maximum de 100 caractères.
- ```UNIQUE``` : Chaque valeur dans cette colonne doit être unique (pas de doublons, utile pour des e-mails).
- ```NOT NULL``` : Indique qu'un e-mail doit être fourni pour chaque utilisateur.  


```date_inscription DATETIME DEFAULT CURRENT_TIMESTAMP```
- ```date_inscription``` : Colonne pour stocker la date et l'heure d'inscription.
- ```DATETIME``` : Type de données pour une date et une heure complètes (par exemple, 2025-01-12 14:30:00).
- ```DEFAULT CURRENT_TIMESTAMP``` : Remplit automatiquement cette colonne avec la date et l'heure actuelles au moment de l'insertion.

#### Autres types de données

```Numériques```
- ```TINYINT``` : Petit entier (-128 à 127 ou 0 à 255 si non signé).
- ```SMALLINT``` : Entier plus grand (-32,768 à 32,767).
- ```MEDIUMINT``` : Entier moyen (-8,388,608 à 8,388,607).
- ```BIGINT``` : Très grand entier.
- ```DECIMAL(p, d) ou NUMERIC(p, d)``` : Nombre décimal avec précision (p = total des chiffres, d = chiffres après la virgule).  

```Textes```
- ```CHAR(n)``` : Chaîne de texte fixe, toujours de longueur n. Exemple : CHAR(5) stocke exactement 5 caractères.
- ```TEXT``` : Texte long (jusqu'à 64 Ko de données).
- ```LONGTEXT``` : Texte encore plus long (jusqu'à 4 Go).  

```Dates et Heures```
- ```DATE``` : Stocke uniquement une date (2025-01-12).
- ```TIME``` : Stocke uniquement une heure (14:30:00).
- ```TIMESTAMP``` : Similaire à DATETIME, mais souvent utilisé pour des horodatages système.
- ```YEAR``` : Stocke une année (2025).  

```Booléens```
- ```BOOLEAN ou TINYINT(1)``` : Représente un vrai/faux (MySQL utilise en interne 1 pour TRUE et 0 pour FALSE).  

```Autres options```
- ```DEFAULT``` : Valeur par défaut si aucune valeur n'est spécifiée.
- ```NULL``` : Permet de stocker des valeurs vides.
- ```UNSIGNED``` : Permet aux nombres d’être uniquement positifs.
- ```ZEROFILL``` : Remplit les nombres avec des zéros à gauche.

#### Visualiser les tables

```sql
SHOW TABLES;
```

#### Détails sur une table

```sql
DESCRIBE utilisateurs;
```

#### Ajouter des individus à la base de données 

```sql
INSERT INTO utilisateurs (nom, email) 
VALUES ('Alice Dupont', 'alice@example.com'),
       ('Jean Martin', 'jean@example.com');
```

#### Mise à jour des données 

```sql
UPDATE utilisateurs 
SET email = 'alice.dupont@example.com' 
WHERE nom = 'Alice Dupont';
```

#### Visualiser les données 

```sql
SELECT * FROM utilisateurs;
```

#### Suppression de données

```sql
DELETE FROM utilisateurs 
WHERE nom = 'Jean Martin';
```

#### Suppression d'une table

```sql
DROP TABLE utilisateurs;
````

#### Suppression d'une base de données 

```sql
DROP DATABASE web_marketing_auth
```

#### Exporter les données au format .csv

```sql
SELECT * FROM utilisateurs
INTO OUTFILE '/chemin/complet/vers/fichier/utilisateurs.csv'
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\n';
```